/*! Font (Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/*! Vars */
:root {
  --header-width: 85%;
}

/*! Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../assets//space.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

a {
  color: rgba(128, 128, 128, 0.8);
  text-decoration: none;
  font-size: 0.85rem;
}

a:hover {
  color: gray;
}

ul li {
  list-style: none;
}

ul li a {
  color: lightgray;
}

.title {
  text-align: center;
}
/*! Form Styles (Signup & Login) */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.35);
  outline: 2px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  min-width: 30%;
  gap: 1.75rem;
  border-radius: 0.625rem;
  padding: 2rem 1rem;
}

form label {
  align-self: flex-start;
}

form input,
form textarea {
  background-color: transparent;
  border: 2px solid lightgray;
  padding: 0.5rem 1rem;
  outline: none;
  caret-color: white;
  transition: 0.35s ease-out;
  color: lightgray;
}

form input::placeholder,
form textarea::placeholder {
  color: rgba(211, 211, 211, 0.65);
  transition: 0.35s ease-out;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
  opacity: 0;
}

form input:focus,
form textarea:focus {
  border-radius: 0.5rem;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

form button {
  padding: 0.5rem 1.125rem;
  border: 2px solid lightgray;
  color: lightgray;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.35s;
}

form button:hover {
  background-color: lightgray;
  color: black;
}

form button:active {
  background-color: gray;
  border-color: gray;
}

.error {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

/*! Header Section */
header {
  position: fixed;
  inset: 0 auto auto 0;
  width: var(--header-width);
  margin-left: calc((100% - var(--header-width)) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.1);
  backdrop-filter: blur(0.5rem);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

header .logo h1 a {
  font-size: 2rem;
  color: rgb(255, 144, 117);
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/*! Logout btn, username and active page */

.user {
  color: rgba(255, 70, 117, 0.6);
  user-select: none;
}

.logout {
  cursor: pointer;
}

.active {
  color: rgb(255, 144, 117);
}

/*! Landing Sections */
section:has(.cards) {
  width: var(--header-width);
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 3rem;
}

section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  font-size: 0.9rem;
}

section .cards .card {
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

section .cards .card-img {
  overflow: hidden;
  height: 100%;
}

section .cards .card-img img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  transition: 0.35s;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}

section .cards .card .card-info {
  position: absolute;
  inset: auto 0 -100% 0;
  padding: 1rem;
  background-color: rgba(255, 144, 117, 0.75);
  border-radius: 0.5rem;
  transition: 0.35s;
}

section .cards .card .need-to-login {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  transition: 0.35s;
  opacity: 0;
}

section .cards .card:hover .need-to-login {
  opacity: 1;
}

section .cards .card .need-to-login a {
  color: white;
  transition: 0.35s;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

section .cards .card .need-to-login a:hover {
  color: rgb(255, 144, 117);
}

section .cards .card .need-to-login p {
  text-align: center;
  font-size: 1.1rem;
}

section .cards .card:hover .card-info {
  bottom: 0;
}

section .cards .card:hover .card-img img {
  transform: scale(1.2) rotate(6deg);
  filter: blur(0);
}

section .cards .card:hover .card-img img.hide-img {
  transform: none;
  filter: blur(10px);
}

/*! Media Queries */
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1366px) {
  form {
    margin-bottom: 2rem;
    min-width: 40%;
  }

  .title {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 1680px) {
  section .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 900px) {
  section:has(.cards) {
    padding-top: 20%;
  }
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 1rem;
    font-size: 0.7rem;
  }

  .title.signup {
    margin-top: 30%;
  }

  section:has(.cards) {
    padding-top: 40%;
  }

  section .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    font-size: 0.9rem;
  }
}
